In [5]:
#1st Question number 
#code:
n=5
for i in range(1,6):
    for j in range(i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [7]:
#2nd Question number 
#code:
n=5
for i in range(5,0,-1):
    for j in range(i):
        print('*',end =" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [9]:
#3rd Question number 
#code:
for i in range(1,5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [13]:
#4th Question number 
#code:
n=5
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [45]:
#5th Question number 
#code:
n=5
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [47]:
#6th Question number 
#code:
n=5
for i in range(5):
    for j in range(5):
        if i==0 or i==5-1 or j==0 or j==5-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [51]:
#7th Question number 
#code:
for i in range(1,4):
    for j in range(1,4-i):
        print(end=" ")
    for j in range(1,i+1):
        print('*',end=" ")
    print()
for i in range(1,4):
    for j in range(1,i+1):
        print(end=" ")
    for j in range(1,4-i):
        print('*',end=" ")
    print()

  *
 * *
* * *
 * *
  *

In [7]:
#8th Question number 
#code:
n=int(input("enter the number of rows:"))
for i in range(n):
    value=1
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(value,end=" ")
        value=value*(i-j)//(j+1)
    print()

enter the number of rows: 5

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [9]:
#9th Question number 
#code:
n=int(input("enter a number"))
sum=0
for i in range(2,n+1,2):
    if i%2==0:
        sum+=i
print(sum)

enter a number 5

6

In [13]:
#10th Question number 
#code:
n=int(input())
f=1
if n<0:
    print("negative number")
elif n==0 or n==1:
    print("factorial is 1")
else:
    for i in range(1,n+1):
        f*=i
print(f)

 5

120

In [15]:
#11th Question number 
#code:
def prime(n):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                print("not prime")
                break
            else:
                print("prime")
    else:
         print("not prime")
n=int(input())
prime(n)

 4

not prime

In [19]:
#12th Question number 
#code:
str=input()
str.lower()
c=0
for i in str:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        c+=1
print(c)

 a

1

In [21]:
#13th Question number 
#code:
def reversed(s):
    reversed_str=" "
    for i in range(len(s)-1,-1,-1):
        reversed_str+=s[i]
    return reversed_str
s=input("enter a string:")
reversed_s=reversed(s)
print(reversed_s)

enter a string: prakruthi

 ihturkarp

In [23]:
#14th Question number 
#code:
string=input()
for i in range(len(string)):
    for j in range(i+1,len(string)+1):
        print(string[i:j])

 prakruthi

p
pr
pra
prak
prakr
prakru
prakrut
prakruth
prakruthi
r
ra
rak
rakr
rakru
rakrut
rakruth
rakruthi
a
ak
akr
akru
akrut
akruth
akruthi
k
kr
kru
krut
kruth
kruthi
r
ru
rut
ruth
ruthi
u
ut
uth
uthi
t
th
thi
h
hi
i

In [25]:
#15th Question number 
#code:
string=input()
char_frequency={}
for char in string:
    if char in char_frequency:
        char_frequency[char]+=1
    else:
        char_frequency[char]=1
for char,freq in char_frequency.items():
    print(f"{char}:{freq}")

 prakruthi

p:1
r:2
a:1
k:1
u:1
t:1
h:1
i:1

In [27]:
#16th Question number 
#code:
def fib(n):
    a=0
    b=1
    for i in range(0,n):
        print(a,end=" ")
        a,b=b,a+b
fib(10)

0 1 1 2 3 5 8 13 21 34

In [37]:
#17th Question number 
#code:
for i in range(1,10+1):
    for j in range(1,10+1):
        print(f"{i*j:3}",end=" ")
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [35]:
#18th Question number 
#code:
n=int(input())
num=1
for i in range(n):
    for j in range(n):
        print(num,end=" ")
        num+=1
    print()

 3

1 2 3
4 5 6
7 8 9